<!DOCTYPE html>
<html lang="en">

	<include file="Public:header" />
	<include file="Public:page_css" />

	<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">

		<include file="Public:nav" />
		<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>链接列表</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html"><i class="fa fa-home"></i> 主页</a>
                    </li>
                    <li>
                        <a>链接管理</a>
                    </li>
                    <li>
                        <strong>链接列表</strong>
                    </li>
                </ol>
            </div>              
        </div>
        <br />
		<a href="{:U('Link/add')}" class="btn btn-primary">添加链接</a>
		<br />
		<br />
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5><i class="fa fa-tasks"></i> 链接列表</h5>
					</div>
					<div class="ibox-content">
						<table class="table table-bordered">
							<thead>
								<tr class="long-tr">
									<th width="5%">编号</th>
                                    <th>名称</th>
                                    <th>域名</th>
                                    <th width="15%">添加日期</th>
                                    <th width="15%">更新日期</th>
                                    <th>状态</th>
                                    <th>排序</th>
                                    <th width="20%">操作</th>
								</tr>
							</thead>
							<tbody>
								<volist name="list" id="vo">
									<tr class="long-td">
										<td>{$vo.id}</td>
                                        <td>{$vo.name}</td>
                                        <td>{$vo.url}</td>
                                        <td>{$vo.create_time|date='Y年m月d日 H:i:s',###}</td>
                                        <td>{$vo.update_time|date='Y年m月d日 H:i:s',###}</td>
                                        <td>
                                        	<if condition="$vo.state eq 1">
                                        			<span class="label label-primary">显示</span>
                                        		<else/>
                                        			<span class="label label-danger">不显示</span>
                                        	</if>
                                        </td>
                                        <td>{$vo.orderby}</td>
										<td>
											<a href="{:U('Link/edit',array('id'=>$vo['id']))}" class="btn btn-primary">
												<i class="fa fa-pencil"></i> 编辑</a>&nbsp;&nbsp;
											<a href="javascript:;" onclick="return del({$vo.id});" class="btn btn-danger">
												<i class="fa fa-trash-o"></i> 删除</a>
										</td>
									</tr>
								</volist>
							</tbody>
						</table>
						<div class="pages" style=" text-align: right;">
							{$page}
						</div>
					</div>
				</div>
			</div>
		</div>
		<include file="Public:footer" />
		
	<script>	
	function del(id){
			layer.confirm('是否要删除此条数据，你确定要删除吗？', {icon: 3}, function(index){
		    layer.close(index);
		    window.location.href="__URL__/del/id/"+id+"";
		});
	}
	
	
	</script>
	</body>

</html>
